.card-wrap {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 60px;
}
.card-item {
  width: 100%;
  max-width: 370px;
}

@media (max-width: 1024px) {
  .card-wrap {
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
  }
}

@media (max-width: 768px) {
  .card-wrap {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 500px) {
  .card-wrap {
    grid-template-columns: 1fr;
    gap: 40px;
  }
}
